.container {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}
.xreport-header{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.z-header{
    text-align: center;
}