.customer-background{
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.Spin-n-stone-logo-customer {
    margin-left: 400px;
    transform: scale(0.5);
}

.customer-pizza{
    width: 15%;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-5%);
    transform: translateX(70%);
}
