.customer-background{
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.Spin-n-stone-logo {
    display: block;
    margin: 0 auto;
    position: flex;
    top: 0;
    transform: translateX(-50%);
  }