.Spin-n-stone-logo {
    transform: scale(0.5);
    
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3f3f3f;
    padding: 10px;
}

#sign-in-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-style {
    margin: 0px 20px;
    padding: 10px;
    position: relative;

    color: rgb(214 154 39);
    text-decoration-color: rgb(214 154 39);
}

.link-style:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.link-style h3 {
    z-index: 1;
    
}

.homescreen{
    
    overflow: hidden;
}

.bg-img {
    background-size: cover;
    background-position: center;
    height: 200vh;
}


.Spin-n-stone-logo-homescreen {
    transform: scale(0.8);
    display: block;
    margin: 50px auto 0;
}

.rotate-pizza {
    display: block;
    margin: 80px auto;
    width: 50%;
    animation: rotation 15s infinite linear;
    transform-origin: center;
    margin-top: -10px;
    margin-right: 125px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.homepage-address{
    color: white;
    
    margin-bottom: 30px;
    padding-left: 27px;
    font-size: 1.3em;
}
  